﻿@model Repository.Models.Login

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!-- Bootstrap Core and vandor -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- Core css -->
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/theme1.css" />

<div class="auth">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Login to your account</h3>
            <form asp-action="Login">
                <div class="form-group">
                    <select asp-for="UserTypeId" class="custom-select">
                        <option value="2">Branch Manager</option>
                        <option value="1">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="MobileNumber" placeholder="Enter Mobile Number">
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input class="form-control" asp-for="Password" placeholder="Password">
                </div>
                <div class="form-footer">
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            @if (ViewBag.InValidLogin != null)
            {
                <div class="text-center text-muted text-danger">
                    @ViewBag.InValidLogin
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


