﻿<!doctype html>
<html lang="en" dir="ltr">
@{ string UserName = "";
    var ClaimName = User.Claims.Where(x => x.Type == "UserName").FirstOrDefault();
    if (ClaimName != null)
    {
        UserName = ClaimName.Value;
    }
    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
    int BranchId = 0;
    var ClaimBranch = User.Claims.Where(x => x.Type == "BranchId").FirstOrDefault();
    if (ClaimRole != null)
    {
        BranchId = int.Parse(ClaimBranch.Value);
    }
}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>WTFitess Center</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="/assets/css/theme1.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" defer />
    <script src="~/js/jquery.min.js"></script>
</head>

<body class="font-montserrat">
    <!-- Page Loader -->
    @*<div class="page-loader-wrapper">
            <div class="loader">
            </div>
        </div>*@

    <div id="main_content">
        <div id="left-sidebar" class="sidebar">
            <img src="~/images/logo.png" />
            <nav id="left-sidebar-nav" class="sidebar-nav">
                @if (UserRole.Equals("Admin"))
                {
                    <ul class="metismenu">
                        <li class="g_heading">Customers</li>
                        <li><a asp-action="Index" asp-controller="Users"><span>All Customers</span></a></li>
                        <li><a asp-action="ActiveUsers" asp-controller="Users"><span>Active Customers</span></a></li>
                        <li><a asp-action="Create" asp-controller="Users"><span>Create Customers</span></a></li>
                        <li class="g_heading">Staff</li>
                        <li><a asp-action="Index" asp-controller="Staff"><span>All Staff</span></a></li>
                        <li><a asp-action="ActiveUsers" asp-controller="Staff"><span>Active Staff</span></a></li>
                        <li><a asp-action="Create" asp-controller="Staff"><span>Create Staff</span></a></li>
                        <li class="g_heading">Search</li>
                        <li><a asp-action="Search" asp-controller="Users" asp-route-SearchType="1"><span>Search By UserId</span></a></li>
                        <li><a asp-action="Search" asp-controller="Users" asp-route-SearchType="2"><span>Search By Name</span></a></li>
                        <li class="g_heading">Kashmir Road</li>
                        <li><a asp-action="MonthlyPaidUsers" asp-controller="Users" asp-route-MonthId="@DateTime.Now.Month" asp-route-YearId="@DateTime.Now.Year" asp-route-BranchId="1"><span>Current Month Paid</span></a></li>
                        <li><a asp-action="MonthlyUnPaidUsers" asp-controller="Users" asp-route-MonthId="@DateTime.Now.Month" asp-route-YearId="@DateTime.Now.Year" asp-route-BranchId="1"><span>Current Month Unpaid</span></a></li>
                        <li><a asp-action="AllTimeFeeManagement" asp-controller="Users" asp-route-BranchId="1"><span>All Time</span></a></li>
                        <li class="g_heading">GT Road</li>
                        <li><a asp-action="MonthlyPaidUsers" asp-controller="Users" asp-route-MonthId="@DateTime.Now.Month" asp-route-YearId="@DateTime.Now.Year" asp-route-BranchId="2"><span>Current Month Paid</span></a></li>
                        <li><a asp-action="MonthlyUnPaidUsers" asp-controller="Users" asp-route-MonthId="@DateTime.Now.Month" asp-route-YearId="@DateTime.Now.Year" asp-route-BranchId="2"><span>Current Month Unpaid</span></a></li>
                        <li><a asp-action="AllTimeFeeManagement" asp-controller="Users" asp-route-BranchId="2"><span>All Time</span></a></li>
                    </ul>
                }
                else if (UserRole.Equals("Branch Manager"))
                {
                    <ul class="metismenu">
                        <li class="g_heading">Customers</li>
                        <li><a asp-action="GetUsersByBranch" asp-controller="Users" asp-route-BranchId="@BranchId"><span>All Customers</span></a></li>
                        <li><a asp-action="ActiveUsersByBranch" asp-controller="Users" asp-route-BranchId="@BranchId"><span>Active Customers</span></a></li>
                        <li><a asp-action="Create" asp-controller="Users"><span>Create Customers</span></a></li>
                        <li class="g_heading">Search</li>
                        <li><a asp-action="Search" asp-controller="Users" asp-route-SearchType="1"><span>Search By UserId</span></a></li>
                        <li><a asp-action="Search" asp-controller="Users" asp-route-SearchType="2"><span>Search By Name</span></a></li>
                        <li class="g_heading">Fee Management</li>
                        <li><a asp-action="MonthlyPaidUsers" asp-controller="Users" asp-route-MonthId="@DateTime.Now.Month" asp-route-YearId="@DateTime.Now.Year" asp-route-BranchId="@BranchId"><span>Current Month Paid</span></a></li>
                        <li><a asp-action="MonthlyUnPaidUsers" asp-controller="Users" asp-route-MonthId="@DateTime.Now.Month" asp-route-YearId="@DateTime.Now.Year" asp-route-BranchId="@BranchId"><span>Current Month Unpaid</span></a></li>
                        <li><a asp-action="AllTimeFeeManagement" asp-controller="Users" asp-route-BranchId="@BranchId"><span>All Time</span></a></li>
                    </ul>
                }
            </nav>
        </div>

        <div class="page">
            <div class="section-body">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-6 pt-25">
                            <div class="mb-4">
                                <h4>Welcome @UserName!</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 pt-25 pr-20 rtl">
                            <div class="mb-4" style="text-align: right">
                                <h6><a asp-action="Logout" asp-controller="Account">Logout</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
