﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WTFitness</title>

    <environment include="development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" defer />
        <script src="~/js/jquery.min.js"></script>
    </environment>
    <environment exclude="development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" defer />
        <script src="~/js/jquery.min.js"></script>
    </environment>
</head>
<body>
    <header>
        <div class="header-bar">
            <div class="header-bar-inner">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">All Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ActiveUsers" asp-controller="Users">Active Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Staff</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Create" asp-controller="Users">Create User</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Logout" asp-controller="Account">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="/images/menu-button.png"></span>
                    </button>
                </nav>
            </div>
        </div>
    </header>
    <div class="main-body">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2021 - WTFitness
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
