﻿
@{
    ViewData["Title"] = "AllTimeFeeManagement";
    Layout = "~/Views/Shared/_Admin.cshtml";

    int BranchId = ViewBag.BranchId;
}

<div class="container">
    <div class="row">
        <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="form-group">
                <select id="fee-manage-year" class="custom-select">
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="form-group">
                <select id="fee-manage-month" class="custom-select">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <input id="btn-fee-manage" type="button" value="Search" class="form-control btn btn-success" />
            </div>
        </div>
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div id="main-fee-manage">

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="fee-manage-branchId" value="@BranchId" />
<input type="hidden" id="current-month" value="@DateTime.Now.Month" />
<input type="hidden" id="current-year" value="@DateTime.Now.Year" />
<script type="text/javascript">
    $(document).ready(function () {
        var currentMonth = $('#current-month').val();
        var currentYear = $('#current-year').val();

        $("#fee-manage-year option[value= '" + currentYear + "' ]").prop('selected', true);
        $("#fee-manage-month option[value= '" + currentMonth + "' ]").prop('selected', true);
    });
    $('#btn-fee-manage').on('click', function () {
        var selectedYear = $("#fee-manage-year option:selected").val();
        var selectedMonth = $("#fee-manage-month option:selected").val();
        var branchId = $('#fee-manage-branchId').val();
        $('#main-fee-manage').html('<h4 style="text-align: center; margin: 50px;">Loading...</h4>');
        $.ajax({
            type: "GET",
            url: "/Users/GetFeeInfoByMonthId",
            data: { MonthId: selectedMonth, YearId: selectedYear, BranchId: branchId }
        }).done(function (html) {
            $('#main-fee-manage').html(html);
        }).fail(function (xhr, status, error) {
            //Ajax request failed.
            var errorMessage = xhr.status + ': ' + xhr.statusText
            console.log('Index Error - ' + errorMessage);
            console.log('Error Message - ' + error);
        });
    });
</script>