﻿@model Repository.Models.ChangePassword

@{
    ViewData["Title"] = "Change Password";

    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
}

@if (UserRole.Equals("Admin"))
{
    <div class="container">
        <div class="bg-white">
            <div class="inner-container">
                <hr />
                <form asp-action="ChangePassword">
                    <input type="hidden" asp-for="UserId" />
                    <div class="container">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">New Password</label>
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
