﻿@model List<Repository.Models.MonthFeeUser>

@{
    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
    int totalUsers = Model.Count;
    bool IsAllMonths = ViewBag.AllMonth == null ? false : ViewBag.AllMonth;
    bool IsCurrentMonthPaid = ViewBag.CurrentMonthPaid == null ? false : ViewBag.CurrentMonthPaid;
    int TotalAmount = Model.Select(s => s.MonthlyFee).Sum();
    int TotalPaidAmount = Model.Where(x => x.IsPaid == true).Select(s => s.MonthlyFee).Sum();
    int TotalUnpaidAmount = Model.Where(x => x.IsPaid == false).Select(s => s.MonthlyFee).Sum();
    int TotalPaidUsers = Model.Where(x => x.IsPaid == true).Count();
    int TotalUnpaidUsers = Model.Where(x => x.IsPaid == false).Count();
}

<div class="row clearfix">
    <div class="col-12 col-sm-12">
        <div class="row clearfix row-deck">
            @if (IsAllMonths)
            {
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Total Paid Users</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@TotalPaidUsers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Total UnPaid Users</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@TotalUnpaidUsers</h5>
                        </div>
                    </div>
                </div>
            }
            else if (IsCurrentMonthPaid)
            {
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Total Paid Users</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@TotalPaidUsers</h5>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Total UnPaid Users</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@TotalUnpaidUsers</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <input placeholder="Quick Search (Type any words or digits for search)" class="form-control" id="quick-search" />
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped text-nowrap table-vcenter mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Monthly Fee</th>
                            <th>Payment Date</th>
                            <th>Modified Date</th>
                            <th>IsPaid</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="user-tr-@user.UserId">
                                <td>@user.SerialNumber</td>
                                <td><a asp-action="Details" asp-route-userId="@user.UserId">@user.Name</a></td>
                                <td>@user.MonthlyFee</td>
                                <td>@(user.PaymentDate.ToString().Contains("0001") ? "" : user.PaymentDate.ToString())</td>
                                <td>@(user.ModifiedDate.ToString().Contains("0001") ? "" : user.ModifiedDate.ToString())</td>
                                <td>
                                    <button id="paid-@user.UserId" data-monthid="@user.MonthId" data-userid="@user.UserId" data-username="@user.Name" data-monthlyfee="@user.MonthlyFee" data-monthname="@user.MonthName" data-isactive="@user.IsPaid.ToString().ToLower()" class="is-paid btn @(user.IsPaid == true ? "btn-danger" : "btn-success")">
                                        @(user.IsPaid == true ? "Cancel Payment" : "Pay Fee")
                                    </button>
                                </td>
                                <td>@*<input type="checkbox" data-monthid="@user.MonthId" data-userid="@user.UserId" data-username="@user.Name" data-monthlyfee="@user.MonthlyFee" data-monthname="@user.MonthName" data-isactive="@user.IsPaid.ToString().ToLower()" class="is-paid" @(user.IsPaid == true ? "checked" : "")>*@</td>
                            </tr>
                        }
                        @if (IsAllMonths)
                        {
                            <tr>
                                <td></td>
                                <td>Total Amount</td>
                                <td style="color:blue">@TotalAmount</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Paid Amount</td>
                                <td style="color:green">@TotalPaidAmount</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total Unpaid Amount</td>
                                <td style="color:red">@TotalUnpaidAmount</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td>Total Amount</td>
                                @if (IsCurrentMonthPaid)
                                {
                                    <td>@TotalPaidAmount</td>
                                }
                                else
                                {
                                    <td>@TotalUnpaidAmount</td>
                                }
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirmbtn">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.quicksearch.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript">
    $('input#quick-search').quicksearch('table tbody tr');

    $('.is-paid').on('click', function () {
        $("#aModal").modal('show');

        var monthId = $(this).data('monthid');
        var userId = $(this).data('userid');
        var userName = $(this).data('username');
        var monthlyFee = $(this).data('monthlyfee');
        var monthName = $(this).data('monthname');
        var isPaid = $(this).data('isactive');
        if (isPaid == true) {
            isPaid = false;
            $('.modal-body').html('Are you sure you want to cancel this payment ?');
        }
        else if (isPaid == false) {
            isPaid = true;
            $('.modal-body').html('Are you sure you want to pay this fee ?');
        }

        $('.confirmbtn').attr('data-monthid', monthId).attr('data-userid', userId).attr('data-username', userName).attr('data-monthlyfee', monthlyFee).attr('data-monthname', monthName).attr('data-ispaid', isPaid);

    });
    $('.modal-footer').delegate('.confirmbtn', 'click', function () {
        var monthId = $(this).data('monthid');
        var userId = $(this).data('userid');
        var userName = $(this).data('username');
        var monthlyFee = $(this).data('monthlyfee');
        var monthName = $(this).data('monthname');
        var isPaid = $(this).data('ispaid');

        $.ajax({
            type: "POST",
            url: "/Users/FeeUpdate",
            data: { MonthId: monthId, UserId: userId, Name: userName, MonthlyFee: monthlyFee, MonthName: monthName, IsPaid: isPaid }
        }).done(function () {
            $("#aModal").modal('hide');
            if (window.location.href.indexOf("/AllTimeFeeManagement") < 0) {
                $('.user-tr-' + userId).fadeOut(500);
            }
            else {
                if (isPaid) {
                    $('#paid-' + userId).removeClass('btn-success').addClass('btn-danger').html('Cancel Payment');
                    $('#paid-' + userId).data('isactive', true);
                }
                else {
                    $('#paid-' + userId).removeClass('btn-danger').addClass('btn-success').html('Pay Fee');
                    $('#paid-' + userId).data('isactive', false);
                }
            }
            $('.modal-footer').html('<button type="button" class="btn btn-primary confirmbtn">Yes</button><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>')
        }).fail(function (xhr, status, error) {
            //Ajax request failed.
            var errorMessage = xhr.status + ': ' + xhr.statusText
            console.log('Index Error - ' + errorMessage);
            console.log('Error Message - ' + error);
        });
    });
</script>