﻿@model List<Repository.Models.User>

@{
    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
    int BranchId = 0;
    var ClaimBranch = User.Claims.Where(x => x.Type == "BranchId").FirstOrDefault();
    if (ClaimRole != null)
    {
        BranchId = int.Parse(ClaimBranch.Value);
    }
    var Users = BranchId == 0 ? Model.ToList() : BranchId == 1 ? Model.Where(x => x.BranchId == 1).ToList() : BranchId == 2 ? Model.Where(x => x.BranchId == 2).ToList() : Model.ToList();
    int totalUsers = Model.Count;
    int activeUsers = Model.Where(x => x.IsActive == true).Count();
    int inActiveUsers = Model.Where(x => x.IsActive == false).Count();
}

<div class="row clearfix">
    <div class="col-12 col-sm-12">
        @*<div class="card-header">
            <h3 class="card-title">List of All Users</h3>
        </div>*@
        @if (ViewBag.Page == "Index")
        {
            <div class="row clearfix row-deck">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Total Customers</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@totalUsers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Active Customers</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@activeUsers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">InActive Customers</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="text-align:center" class="number mb-0 font-32 counter">@inActiveUsers</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <input placeholder="Quick Search (Type any words or digits for search)" class="form-control" id="quick-search" />
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped text-nowrap table-vcenter mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Monthly Fee</th>
                            <th>Registration Date</th>
                            <th>Category Name</th>
                            <th>IsActive</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Users)
                        {
                            DateTime RegDate;
                            bool IsValidRegDate = DateTime.TryParse(user.RegistrationDate.ToString(), out RegDate);
                            <tr class="user-tr-@user.UserId">
                                <td>@user.SerialNumber</td>
                                <td><a asp-action="Details" asp-route-userId="@user.UserId">@user.Name</a></td>
                                <td>@user.MobileNumber</td>
                                <td>@user.MonthlyFee</td>
                                <td>@(IsValidRegDate ? RegDate.ToString("dd MMM yyyy") : "")</td>
                                <td>@user.CategoryName</td>
                                <td><input type="checkbox" data-userid="@user.UserId" data-isactive="@user.IsActive.ToString().ToLower()" class="is-active" @(user.IsActive == true ? "checked" : "")></td>
                                <td>
                                    <a asp-action="Edit" asp-route-userId="@user.UserId" class="list-icons list-edit-icons"><i class="fas fa-edit"></i></a>
                                    <a asp-action="Details" asp-route-userId="@user.UserId" class="list-icons list-info-icons"><i class="fas fa-info"></i></a>
                                    @if (UserRole.Equals("Admin"))
                                    {
                                        <a asp-action="Delete" asp-route-userId="@user.UserId" class="list-icons list-delete-icons"><i class="fas fa-trash-alt"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.quicksearch.js"></script>
<script type="text/javascript">
    $('input#quick-search').quicksearch('table tbody tr');

    $('.is-active').on('click', function () {
        var userId = $(this).data('userid');
        var isActive = $(this).data('isactive');
        if (isActive == true) {
            isActive = false;
        }
        else if (isActive == false) {
            isActive = true;
        }
        $.ajax({
            type: "POST",
            url: "/Users/ActivateUser",
            data: { userId: userId, IsActive: isActive }
        }).done(function () {
            if (window.location.href.indexOf("/ActiveUsers") >= 0) {
                $('.user-tr-' + userId).fadeOut(500);
            }
            else {
                $(this).prop("checked") == true;
            }
        }).fail(function (xhr, status, error) {
            //Ajax request failed.
            var errorMessage = xhr.status + ': ' + xhr.statusText
            console.log('Index Error - ' + errorMessage);
            console.log('Error Message - ' + error);
        });
    });
</script>