﻿@model Repository.Models.User
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Admin.cshtml";

    int SearchType = 0;

    if (ViewBag.SearchType != null)
    {
        SearchType = ViewBag.SearchType;
    }
}

<div class="container">
    <div class="bg-white">
        <div class="inner-container">
            <hr />
            <form asp-action="@(SearchType == 1 ? "SearchById" : SearchType == 2 ? "SearchByName" : "")">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xl-8 col-lg-8 col-md-6 col-sm-12">
                            <div class="form-group">
                                @if (SearchType == 1)
                                {
                                    <input placeholder="Search By UserId" asp-for="UserId" class="form-control" />
                                }
                                else if (SearchType == 2)
                                {
                                    <input placeholder="Search By Name" asp-for="Name" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="submit" value="Search" class="form-control btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*<form>
        <input type="text" id="search">
    </form>
    <table>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
    <script src="~/js/jquery.quicksearch.js"></script>
    <script type="text/javascript">
        var qs = $('input#search').quicksearch('table tbody tr');
        var search = $('input#search').val();
        $.ajax({
            type: 'GET',
            url: '/Users/SearchByName',
            data: { Name: search},
            success: function (data) {
                $('table tbody tr').append(data);
                qs.cache();
            }
        });
    </script>*@