﻿body {
    background-color: #e5e5e5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 0 none;
    outline: 0;
}

.header-bar {
    width: 100%;
    background-color: #555;
}

.header-bar-inner {
    width: 100%;
    border-bottom: 2px solid #000;
}

    .header-bar-inner .navbar-brand {
        width: 150px;
        margin: 0;
        padding: 0;
        margin-right: 100px;
    }

    .header-bar-inner .navbar-nav li {
        height: 72px;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 50px;
        border-bottom: transparent solid 4px;
        padding-top: 4px;
    }

        .header-bar-inner .navbar-nav li a {
            padding: 0;
            text-transform: uppercase;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding-right: 0;
            padding-left: 0;
        }

.main-header h1 {
    font-size: 26px;
    text-align: center;
    padding: 10px 0;
}

.main-body {
    margin: 40px 0
}

.inner-container {
    width: 100%;
    padding: 20px;
}

.list-icons {
    padding: 0 5px
}

.list-edit-icons {
    color: #00008b
}

.list-info-icons {
    color: #008000
}

.list-delete-icons {
    color: #ff0000
}

.user-detail {
    display: flex;
    flex-wrap: nowrap;
}

    .user-detail .user-detail-names {
        width: 100%;
        padding: 10px;
    }
    .user-detail .user-detail-names-list {
        width: 100%;
        padding: 10px;
        display: flex;
        text-align: left;
        align-items: center
    }
    .user-detail .user-detail-names label {
        font-size: 24px;
        font-weight: bold;
        padding: 5px 20px;
    }
        .user-detail .user-detail-names span {
            font-size: 22px;
            margin-left: 5px        }
    .user-detail img {
        width: 100%;
        height: 400px
    }

@media screen and (max-width: 767px) {
    .hiddenfor-mobile {
        display: none;
    }
}
