﻿@model Repository.Models.User

@{
    ViewData["Title"] = "Delete";

    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
}

@if (UserRole.Equals("Admin"))
{
    <div class="container">
        <div class="bg-white">
            <div class="inner-container p-20">
                <h3>Are you sure you want to delete this User?</h3>
                <div>
                    <hr />
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="UserId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}
