﻿@using WTFitness.Helpers
@model Repository.Models.User

@{
    ViewData["Title"] = "Details";

    DateTime RegDate;
    bool IsValidRegDate = DateTime.TryParse(Model.RegistrationDate.ToString(), out RegDate);

    DateTime DOB;
    bool IsValidDOBDate = DateTime.TryParse(Model.DOB.ToString(), out DOB);
}

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card c_grid c_yellow" style="width: 100%">
                <div class="card-body text-center">
                    <div class="circle">
                        <img src="~/images/users/@Model.ImagePath" alt="" style="height: 300px">
                    </div>
                    <h6 class="mt-3 mb-0">@Model.Name</h6>
                    <span>@Model.MobileNumber</span>
                </div>
            </div>
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="text-muted">Father/Husband Name: </span>
                            <p class="mb-0 ml-20">@Model.GuardianName</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">NIC Number: </span>
                            <p class="mb-0 ml-20">@Model.NICNumber</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Mobile Number: </span>
                            <p class="mb-0 ml-20">@Model.MobileNumber</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Emergency Number: </span>
                            <p class="mb-0 ml-20">@Model.EmergencyNumber</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Date Of Birth: </span>
                            <p class="mb-0 ml-20">@(IsValidDOBDate ? DOB.ToString("dd MMM yyyy") : "")</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Blood Group: </span>
                            <p class="mb-0 ml-20">@Model.BloodGroup</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Registration Date: </span>
                            <p class="mb-0 ml-20">@(IsValidRegDate ? RegDate.ToString("dd MMM yyyy") : "")</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">User Type: </span>
                            <p class="mb-0 ml-20">@Model.UserType</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Branch: </span>
                            <p class="mb-0 ml-20">@Model.BranchName</p>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">Card Number: </span>
                            <p class="mb-0 ml-20">@Model.CardNumber</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <span class="text-muted">Address: </span>
                    <span>@Model.Address</span>
                </div>
            </div>
        </div>
    </div>
</div>
