﻿@model Repository.Models.User

@{
    ViewData["Title"] = "Edit";

    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
}

@if (UserRole.Equals("Admin"))
{
    <script src="~/js/WebCam.js"></script>
    <script type="text/javascript">
        $(function () {
            Webcam.set({
                width: 360,
                height: 260,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#webcam');
        });
        $('#btncapture').on('click', function () {
            Webcam.snap(function (data_uri) {
                $('#captured')[0].src = data_uri;
                document.getElementById('EditImage').innerHTML(data_uri);
            });
        })
    </script>

    <div class="container">
        <div class="bg-white">
            <div class="inner-container">
                <hr />
                <form enctype="multipart/form-data" asp-action="Edit">
                    <input type="hidden" asp-for="UserId" />
                    @*<input type="hidden" asp-for="RegistrationDate" />*@
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="UserTypeId" />
                    <div class="container">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div id="webcam">

                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                @if (Model != null)
                                {
                                    <img id="captured" src="~/images/users/@Model.ImagePath" class="imageside" />
                                }
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="button" id="btncapture" value="Capture" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Image</label>
                                    <input id="EditImage" type="file" name="Image" class="text-box single-line" />
                                </div>
                            </div>
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    @if (TempData["Message"] != null)
                                    {
                                        <span class="text-danger">@TempData["Message"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Serial Number</label>
                                    <input asp-for="SerialNumber" class="form-control" />
                                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Guardian Name</label>
                                    <input asp-for="GuardianName" class="form-control" />
                                    @*<span asp-validation-for="GuardianName" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">NIC Number</label>
                                    <input asp-for="NICNumber" class="form-control" />
                                    @*<span asp-validation-for="NICNumber" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Mobile Number</label>
                                    <input asp-for="MobileNumber" class="form-control" />
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Emergency Number</label>
                                    <input asp-for="EmergencyNumber" class="form-control" />
                                    @*<span asp-validation-for="EmergencyNumber" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Blood Group</label>
                                    <input asp-for="BloodGroup" class="form-control" />
                                    @*<span asp-validation-for="BloodGroup" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Registration Date</label>
                                    <input asp-for="RegistrationDate" class="form-control" />
                                    @*<span asp-validation-for="DOB" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <textarea asp-for="Address" class="form-control" rows="4" cols="50"></textarea>
                                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input asp-for="DOB" class="form-control" />
                                    @*<span asp-validation-for="DOB" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Branch</label>
                                    <select asp-for="BranchId" class="form-control">
                                        <option value="0">-Select Branch-</option>
                                        <option value="1">Kashmir Road</option>
                                        <option value="2">Settalite town</option>
                                    </select>
                                    @*<span asp-validation-for="BranchId" class="text-danger"></span>*@
                                </div>
                            </div>
                            @*<div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>*@
                            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Card Number</label>
                                    <input asp-for="CardNumber" class="form-control" />
                                    @*<span asp-validation-for="CardNumber" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @if (TempData["Message"] != null)
                                    {
                                        <span class="text-danger">@TempData["Message"]</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    document.getElementById('EditImage').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('captured').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }

        // Not supported
        else {
            // fallback -- perhaps submit the input to an iframe and temporarily store
            // them on the server until the user's session ends.
        }
    }
</script>