﻿@model List<Repository.Models.User>

@{
    string UserRole = "";
    var ClaimRole = User.Claims.Where(x => x.Type == "UserRole").FirstOrDefault();
    if (ClaimRole != null)
    {
        UserRole = ClaimRole.Value;
    }
}

<div class="row clearfix">
    <div class="col-12 col-sm-12">
        <div class="card-header">
            <h3 class="card-title">List of All Staff</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped text-nowrap table-vcenter mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Registration Date</th>
                            <th>IsActive</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            DateTime RegDate;
                            bool IsValidRegDate = DateTime.TryParse(user.RegistrationDate.ToString(), out RegDate);
                            <tr class="user-tr-@user.UserId">
                                <td>@user.SerialNumber</td>
                                <td><a asp-action="Details" asp-route-userId="@user.UserId">@user.Name</a></td>
                                <td>@user.MobileNumber</td>
                                <td>@(IsValidRegDate ? RegDate.ToString("dd MMM yyyy") : "")</td>
                                <td><input type="checkbox" data-userid="@user.UserId" data-isactive="@user.IsActive.ToString().ToLower()" class="is-active" @(user.IsActive == true ? "checked" : "")></td>
                                @if (UserRole.Equals("Admin"))
                                {
                                    <td>
                                        <a asp-action="ChangePassword" asp-controller="Users" asp-route-userId="@user.UserId" title="Change Password" class="list-icon"><i class="fas fa-lock"></i></a>
                                        <a asp-action="Edit" asp-route-userId="@user.UserId" title="Edit" class="list-icons list-edit-icons"><i class="fas fa-edit"></i></a>
                                        <a asp-action="Details" asp-route-userId="@user.UserId" title="Details" class="list-icons list-info-icons"><i class="fas fa-info"></i></a>
                                        <a asp-action="Delete" asp-route-userId="@user.UserId" title="Delete" class="list-icons list-delete-icons"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('.is-active').on('click', function () {

        var userId = $(this).data('userid');
        var isActive = $(this).data('isactive');
        if (isActive == true) {
            isActive = false;
        }
        else if (isActive == false) {
            isActive = true;
        }
        $.ajax({
            type: "POST",
            url: "/Users/ActivateUser",
            data: { userId: userId, IsActive: isActive }
        }).done(function () {
            if (window.location.href.indexOf("/ActiveUsers") >= 0) {
                $('.user-tr-' + userId).fadeOut(500);
            }
            else {
                $(this).prop("checked") == true;
            }
        }).fail(function (xhr, status, error) {
            //Ajax request failed.
            var errorMessage = xhr.status + ': ' + xhr.statusText
            console.log('Index Error - ' + errorMessage);
            console.log('Error Message - ' + error);
        });
    });
</script>

